<main>
    <div class="container">
        <section class="details">
            <h1>{{play.title}}</h1>
            <div>
                <img src="{{play.imageUrl}}" />
            </div>
        </section>
        <section class="details">
            <h3>Theater Description</h3>
            <p>{{play.description}}</p>
            <div class="buttons">
                {{#unless play.isOwn}}
                    {{#if play.isLiked}}
                        <span class="liked">You have already liked this play!</span>
                    {{else}}
                        <a class="btn like" href="/{{play._id}}/like">Like</a>
                    {{/if}}
                {{else}}
                    <a class="btn delete" href="/{{play._id}}/delete">Delete</a>
                    <a class="btn edit" href="">Edit</a>
                {{/unless}}
            </div>
        </section>
    </div>
</main>
