
<main>
    <div class="offer-details">
        <h1>{{shoe.name}}</h1>
        <div class="info">
            <img src="{{shoe.imageUrl}}"
                alt="">
            <div class="description">{{shoe.description}}
                <br>
                <br>
                <p> <strong>Buyers:</strong> {{shoe.buyers.length}}</p>
                <br>
                <p class="price">${{shoe.price}}</p>
            </div>
        </div>
        <div class="actions">
            {{#unless shoe.isOwn}}
                {{#if shoe.isBought}}
                    <span>You bought it</span>
                {{else}}
                    <a href="/{{shoe._id}}/buy">Buy</a>
                {{/if}}
            {{else}}
                <a href="/{{shoe._id}}/edit">Edit</a>
                <a href="/{{shoe._id}}/delete">Delete</a> 
            {{/unless}}
        </div>
    </div>
</main>